<header id="commonHeader">
        <section id="flowsHead" class="wf-mplus1p">あなたにあった〇〇が1分でわかる</section>
        <section id="flows" class="wf-mplus1p">〇〇診断</section>
        </header>
        
        <div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>1分だけ下記の質問に答えてみてください。あなたにぴったりの〇〇がわかります!</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                   
                    <li id="1" class="question" >
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>あなたは今どんな気分ですか？</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">キュン</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">泣</div></a>
                            <a href="#4" onclick="show(4)" class="qabtn"><div class="btnBox btnBox_w">驚</div></a>
                            <a href="#5" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_r">穏やか</div></a>
                        </div>
                    </li>
                    <li id="2" class="question" style="display:none;">
                        <a name="#2"></a>
                        <div class="qbox"><span  class="q">Q.</span>あなたが見たいジャンルは何ですか？</div>
                        <div class="qabox">
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">ドラマ</div></a>
                            <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">バラエティ</div></a>
                            <a href="#105" onclick="show(105)" class="qabtn"><div class="btnBox btnBox_w">アニメ</div></a>
                            <a href="#106" onclick="show(106)" class="qabtn"><div class="btnBox btnBox_r">映画</div></a>
                        </div>
                    </li>
                    <li id="3" class="question" style="display:none;">
                        <a name="#3"></a>
                        <div class="qbox"><span  class="q">Q.</span>あなたが見たいジャンルは何ですか？</div>
                        <div class="qabox">
                            <a href="#107" onclick="show(107)" class="qabtn"><div class="btnBox btnBox_y">ドラマ</div></a>
                            <a href="#108" onclick="show(108)" class="qabtn"><div class="btnBox btnBox_n">バラエティ</div></a>
                            <a href="#109" onclick="show(109)" class="qabtn"><div class="btnBox btnBox_w">アニメ</div></a>
                            <a href="#110" onclick="show(110)" class="qabtn"><div class="btnBox btnBox_r">映画</div></a>
                        </div>
                    </li>
                    <li id="4" class="question" style="display:none;">
                    <a name="#4"></a>
                    <div class="qbox"><span  class="q">Q.</span>あなたが見たいジャンルは何ですか？</div>
                    <div class="qabox">
                        <a href="#111" onclick="show(111)" class="qabtn"><div class="btnBox btnBox_y">ドラマ</div></a>
                        <a href="#112" onclick="show(112)" class="qabtn"><div class="btnBox btnBox_n">バラエティ</div></a>
                        <a href="#118" onclick="show(118)" class="qabtn"><div class="btnBox btnBox_w">アニメ</div></a>
                        <a href="#113" onclick="show(113)" class="qabtn"><div class="btnBox btnBox_r">映画</div></a>
                    </div>
                </li>
                <li id="5" class="question" style="display:none;">
                <a name="#5"></a>
                <div class="qbox"><span  class="q">Q.</span>あなたが見たいジャンルは何ですか？</div>
                <div class="qabox">
                    <a href="#114" onclick="show(114)" class="qabtn"><div class="btnBox btnBox_y">ドラマ</div></a>
                    <a href="#115" onclick="show(115)" class="qabtn"><div class="btnBox btnBox_n">バラエティ</div></a>
                    <a href="#116" onclick="show(116)" class="qabtn"><div class="btnBox btnBox_w">アニメ</div></a>
                    <a href="#117" onclick="show(117)" class="qabtn"><div class="btnBox btnBox_r">映画</div></a>
                </div>
            </li>

        
                    <div class="answerList">
        
                        <div id="103" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『花のち晴れ』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'image1.jpg', size:'300x200' %></div>
                                <p>F4が卒業してから10年後。落ち目になった英徳学園を舞台に、人に言えない“ヒミツ”を抱えた新世代のキャラクター達が巻き起こす「自分らしく生きる」ことがテーマの痛快青春ラブコメディー！！出演者：杉咲花、平野紫耀、中川大志、濱田龍臣、飯豊まりえ、今田美桜、鈴木仁、中田圭祐　ほか</p>

                                <p><a href="#" class="square_btn">戻る</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="104" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『あざとくて何が悪いの？』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'image4.jpg' %></div>
                                <p>「南海キャンディーズの山里亮太さんと鈴木愛理さんがMCをしています。」</p>
        
                                <p><a href="#" class="square_btn">戻る</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="105" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『アオハライド』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「高校１年の終わり、双葉は運命の再会を果たす。
                                その相手は、中学時代に転校し、
                                忽然と姿を消してしまっていた初恋の人・田中洸。
                                その洸が、3年ぶりに双葉の前に現れた。
                                しかし、洸の苗字は「馬渕」に変わり、性格もクールな別人になっていた。」</p>
        
                                <p><a href="#" class="square_btn">戻る</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="106" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">説明文「honey」</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'image2.jpg' %></div>
                                <p>「幼いころに両親を事故で失い、優しい叔父・宗介（高橋 優）に見守られて育った女子高生・小暮奈緒（平 祐奈）は、ビビりでヘタレ、そして不良が大の苦手！
                                奈緒は入学式の日、上級生と新入生とのケンカに遭遇してしまう。
                                その新入生とは、真っ赤な髪をして“超”不良として恐れられる鬼瀬大雅（平野紫耀）だった。
                                ある日突然、奈緒はその鬼瀬から、体育館裏に呼び出される。放課後、奈緒が恐る恐るそこに向かうと…
                                「俺と、結婚を前提に付き合ってください！」と、突然のプロポーズ！？
                                叔父の宗介に憧れながらも、ビビって断れなかった奈緒は、なんと、鬼瀬と付き合うことに。しかし奈緒は徐々に、そのギャップに戸惑いながらも、鬼瀬が見かけや噂と違って、人一倍優しく純粋だということに気づいていく･･･｡」</p>
        
                                <p><a href="#" class="square_btn">戻る</a></p>
                            </div>
                            </div>
                        </div>

                        <div id="107" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『PICU 小児集中治療室』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「吉沢亮さんが月9初主演！ 北海道の小児科医に！
                            連ドラ初！ “子どものICU”が舞台の医療ドラマが誕生！
                            『監察医 朝顔』スタッフが贈る、感涙必至の“命の物語”」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="108" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『ザ！世界仰天ニュース』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>「中居正広と笑福亭鶴瓶がMCを務めています。笑いあり涙ありのバラエティです。」</p>
                        <p><a href="#" class="square_btn">戻る</a></p>
                    </div>
                    </div>
                </div>
                <div id="109" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『あの日見た花の名前を僕達はまだ知らない。』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「幼馴染の死という過去を抱えた若者たちの淡い恋や罪の意識、絆や成長といった内容を扱う、ドラマ性を重視した内容が志向されており、物語の展開に従って複雑化していく人間関係なども描かれる[14]。死んだはずの幼馴染であるヒロインが幽霊として主人公の前に現れるというファンタジー的な題材が用いられてはいるが、作中では彼女をアニメ的な幽霊のように描写することは避けられており、生きた人間と変わらず振る舞う姿を描写しながらも、その姿が鏡に映らなかったり、主人公以外の人物たちにその姿が見えていないことを示すことで、彼女が霊的な存在であることを描写している。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="110" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『余命10年』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag 'image3.jpg' %></div>
                            <p>「不治の病を抱えて余命10年と知った女性が、地元の同窓会で出会った男性と恋に落ちるラブストーリーを、ヒロインと同じく難病を患っていた小坂流加が綴った『余命10年』。2017年の文庫版発売以来、“切なすぎる恋愛小説”としてSNSを中心に反響が広がり、累計発行部数65万部を突破するベストセラーを記録した小説を、『新聞記者』の藤井道人監督が映画化。3月4日から全国で劇場公開される。

                            数万人に一人という不治の病を患い、余命10年と知った20歳の高林茉莉（小松菜奈）。自らの余命を知った彼女は、生きることに執着しないために「もう恋はしない」と心に決めていた。そんなある日、かつて同級生だった真部和人（坂口健太郎）と同窓会で再会し恋に落ちる。最初から終わりの見えている恋だから、もう会ってはいけない。そう思いつつ、自分の気持ちに嘘をつけなくなった茉莉は、自らが病に侵されていることを隠しながら、どこにでもいる20代の男女のように和人と楽しい時を重ねていく。そうして2人の人生が交わっていくことで、茉莉の残された人生が輝き出す。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="111" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『家政婦のミタゾノ』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「女装した大柄な家政夫・三田園 薫（通称：ミタゾノさん）が、派遣された家庭・家族の内情を覗き見し、そこに巣食う“根深い汚れ”までもスッキリと落としていく、痛快“覗き見”ヒューマンドラマシリーズ『家政夫のミタゾノ』――。

                            　松岡昌宏主演のドラマとして２０１６年１０月クールにスタート。１年半後の２０１８年４月クールに第２シリーズ、翌２０１９年４月には第３シリーズ、２０２０年４月に第４シリーズ、そして２０２２年４月には第５シリーズを放送、と、金曜ナイトドラマ枠で誕生したシリーズ作品としては最長を記録。さらに昨年には舞台化までも実現し、すっかりテレビ朝日を代表する人気ドラマシリーズとして定着しました。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="112" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『ほんとうにあった怖い話』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「学校の怪談など、本当に起こった（とされている）怖い話を集めた朝日新聞出版刊のホラーコミックおよび、それを基に制作されたオリジナルビデオと、さらにそれを基に制作されたフジテレビのテレビドラマである。通称は『ほん怖』。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="113" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『IT/イット “それ”が見えたら、終わり。』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「1990年 の メイン州 デリー で、子供だけを狙った連続殺人事件が発生する。 デリーに住んでいたマイクは、事件現場近くでそこにあるはずのない男の子の古い写真を発見し子供時代に IT （それ）と呼んでいた奇怪なピエロ、ペニーワイズの仕業であると確信する。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="114" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『山田太郎ものがたり』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「 容姿端麗、学力優秀、運動神経抜群の完璧人間だが、家が貧しいため貧乏生活に悩まされている 山田太郎 が、一癖も二癖もある周囲の人物に振り回されながらも愉快に人生を謳歌していく。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="115" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『はじめてのおつかい』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「所ジョージと森口博子がMCを務めます。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="116" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『あたしンち』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「母、父、長女のみかん、弟のユズヒコの4人家族「タチバナ家」の日常が繰り広げられる。みかん・ユズヒコの学校生活や友達とのやりとり、母の友好関係、父の仕事などからリアルな描写が描かれている。他にも個性的なキャラクターが多く登場。アニメ化や映画化もされており長年根強いファンを獲得している。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="117" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『旅猫リポート』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「野良猫のナナはいつも優しく接してくれる青年・悟のことを気にかけていた。 ある日、交通事故に遭ったナナを救ったのも悟だった。 以来、ナナは彼の元で過ごすことになり、家族となるが、悟はある事情でナナを手放すことになってしまう。 悟はナナを連れ、新しい飼い主を探す旅に出るが、行く先々でナナは騒ぎを起こしてしまう。」</p>
                            <p><a href="#" class="square_btn">戻る</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="118" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める作品は<span class="fs-18"><span class="bg-y">『金田一少年の事件簿』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>「名探偵・金田一耕助を祖父に持つ高校生・金田一一（きんだいち はじめ）。
                        東京都不動山市に暮らす高校2年生であり、普段は運動も勉強も平均以下であり、幼馴染の七瀬美雪も呆れるほどである。
                        しかし、IQは180であり、祖父譲りの感の鋭さと洞察力を発揮し、次々と難事件を解決」</p>
                        <p><a href="#" class="square_btn">戻る</a></p>
                    </div>
                    </div>
                </div> 

                </article>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        $(function(){
           $('a[href^=#]').click(function() {
              var speed = 600;
              var href= $(this).attr("href");
              var target = $(href == "#" || href == "" ? 'html' : href);
              var position = target.offset().top;
              $('body,html').animate({scrollTop:position}, speed, 'swing');
              return false;
           });
        });
        $(function(){
            h = $(window).height();
            h = h-30;
            $(".question").css("min-height", h + "px");
            $(".answerList .box").css("min-height", h + "px");
            
        });
        function show(idName){ 
            $("#" + idName).show();
        }
        
        </script>
        
        
</body>
</html>